/* This is navigation Error */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: verdana;
    background-color: white;
    color: white;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    background-color: #378345;
    color: white;
}
.logo{
    font-weight: bold;
    font-size: 24px;
}
.nav{
    display: flex;
    gap: 32px;
}
.contact-btn {
    background-color:white;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}
.contact-btn a{
    text-decoration: none;
    color:#378345;
}
.nav a{
    text-decoration: none;
    color: white;
    font-weight: 100%;
}
/* This is home page */
.home-container{
    display: grid;
    grid-template-columns: auto auto;
}

/* This is skills part */

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 30px;
}

.skills-container {
    max-width: 1000px;
    width: 100%;
    text-align: center;
}

.skills-title {
    font-size: 50px;
    color:#378345;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: left;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
    margin-top: 36px;
}

.skill-box {
    background-color:#378345;
    color: white;
    padding: 36px 16px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 125px;
}

img{
    width: 500px;
    float: right;
    border-radius: 5px;
}
.intro-section{
    color: black;
    padding: 32px 0;
}
.intro-text{
    font-weight: 20px;
    margin-bottom: 40px;
}
.main-content{
    display: flex;
    justify-content: center;
    justify-content:first baseline;
}
/* This is contact part */
.image{
    margin: 150px;
    
}
.contact-head{
    color: #378345;
    font-size: 40px;
    padding: 30px 0px;
    margin: 20px 0px;
}
.main-con{
    width: 100%;
    display:grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
.contact-form{
    margin-left: 40px;
}
.form-group {
    margin-bottom: 24px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-weight: 500;
}

.form-group input, textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #378345;
    border-radius: 5px;
    font-size: 16px;
}

.form-group textarea {
    min-height: 120px;
}

.submit-btn {
    background-color: #71716e;
    color: white;
    padding: 15px 32px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 30px;
}
/* This is Footer Section. */
footer{
    background-color: #378345;
    padding: 24px 32px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}